@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: #F9F9F9;
    --button: #658E76;
    --background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }
a{
    text-decoration: none;
    color: var(--text);
}
body{
    background: var(--background) no-repeat center/cover;
    height: 100vh;
}
header{
    padding: 30px 30px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

li{
    list-style: none;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding: 40px 50px;
    gap: 100px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: var(--text);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 68px;
    font-weight: 900;
    line-height: 109%;
    color: var(--text);
    text-align: justify;
    padding-bottom: 16px;
}
p{
    color: var(--text);
    font-weight: 400;
    padding-bottom: 56px;
}



/*media queries*/


